@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
padding: 0;
margin: 0;
font-family: 'Poppins', monospace;
}
ul {
    list-style: none;
    background-color: #8c52ff
}

ul li {
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 20px 25px;
    color: white;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background: #8c52ff;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background-color: #6d30e9;
}
ul li:hover ul.dropdown {
    display: block;
}

.div1 {
    padding: 20px;
    margin: 20px;
    border: 20px;
    font-family: sans-serif;
}

.div1 h1 {
  font-size: 50px;
  text-align: center;
}

.div1 p {
text-align: center;
}

.div2 {
    width: 300px;
    height: 275px;
    list-style: none;
    background-color: gainsboro;
    padding: 30px 30px;
    border: 20px;
    margin: auto;
    border-radius: 8px;
}

.links {
    gap: 10px;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.disc, .YT, .itch {
    font-size: 22px;
}

.CBH {
    width: 1250px;
    height: 750px;
    list-style: none;
    background-color: gainsboro;
    padding: 30px 30px;
    border: 20px;
    margin: auto;
    border-radius: 8px;
}

.CBH p {
   text-align: center;
   margin: 35px;
   font-size: 24px;
}

.CBH video {
   position: absolute;
   margin-left: 400px;
}

.body {
    height: 1250px;
}

.CBH2 {
    width: 1250px;
    height: 750px;
    list-style: none;
    background-color: gainsboro;
    padding: 30px 30px;
    border: 20px;
    margin: auto;
    border-radius: 8px;
}
.CBH2 p {
   text-align: center;
   max-width: 500px;
   margin: 35px;
   font-size: 24px;
   padding-left: 340px;
}
